* {
  text-decoration: none;
  color: black;
}

.album {
  display: block;
  height: 200px;
  border: 1px chocolate solid;
  margin: 10px;
  padding: 5px;
}


.album:hover {
  background-color: orange;
  cursor: pointer;
}